<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.skilift">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sl_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkiLift">
        <activity
            android:name=".RideConfirmedActivity"
            android:exported="false" />
        <activity
            android:name=".RideInfoActivity"
            android:exported="false" />
        <activity
            android:name=".FoundRidesActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".GroupMessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GiveRideActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4jUraCSORXpVnOocSY9KaOJJlV3XGFmM" />

        <activity
            android:name=".FindRideActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MyRidesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>